<div id="employees" class="content-tab table-container" style="display: none;">
    <div class="filters-panel">
        <div class="filters-row">
            <input type="text" id="employees_search" class="filter-input table-search" placeholder="{{ get_translate('placeholders.search', session.user_lang) }}">
        </div>
        <span class="filter-label found-count"></span>
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ get_translate('html.admin.panel.tables.employees.id', session.user_lang) }}</th>
                <th>{{ get_translate('html.admin.panel.tables.employees.lastname', session.user_lang) }}</th>
                <th>{{ get_translate('html.admin.panel.tables.employees.name', session.user_lang) }}</th>
                <th class="column-phones">{{ get_translate('html.admin.panel.tables.employees.phones', session.user_lang) }}</th>
                <th class="column-controls">{{ get_translate('html.admin.panel.tables.controls', session.user_lang) }}</th>
            </tr>
        </thead>
        <tbody id="employees_body">
            <tr class="add_row_button">
                <td colspan="5"><button class="btn btn-add" onclick="addRowModal(this, 'employees')">{{ get_translate('buttons.add', session.user_lang) }}</button></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button class="btn btn-prev" onclick="changePage('employees', -1)">{{ get_translate('buttons.prev', session.user_lang) }}</button>
        <div class="page_numbers">
            <!--button class="btn btn-number" onclick="changePageTo('employee', X)">X</button-->
        </div>
        <button class="btn btn-next" onclick="changePage('employees', 1)">{{ get_translate('buttons.next', session.user_lang) }}</button>
        <span class="page_info"></span>
    </div>
</div>