{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/modals.css') }}">
<script src="{{ url_for('static', filename='javascript/phoneinput.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modals.js') }}"></script>
{% endblock %}


{% block layout %}
<div class="row justify-content-center" style="margin: 0px !important;">
    <div id="login-form" class="col-xs-auto align-self-center">
        <div class="card p-4 shadow" style="border-radius: 7px;">
            <div class="justify-content-between" style="display: flex;"><div><img src="{{ url_for('static', filename='sova/images/logo_hotspot_01.svg') }}"></div> <!----></div>
            {% block content %}
            {% endblock %}
            <label id="modal_trigger" class="text-center mt-2 link-line" data-modal-target="#privacyPolicyModal">{{ get_translate('html.privacy_policy_label') }}</label>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<div id="modal-overlay" class="modal-overlay"></div>

<div id="privacyPolicyModal" class="modal modal-large">
    <div class="modal-header">
        <h2 class="modal-title">{{ get_translate('html.privacy_policy_label') }}</h2>
        <span class="modal-close" data-close-button>{{ get_translate('html.modal.close').lower() }}</span>
    </div>
    <div class="modal-content">{% include "auth/privacy_policy.html" %}</div>
</div>
{% endblock %}