{% extends 'auth/base.html' %}

{% block title %}
{{ get_translate('html.code.title') }}
{% endblock %}

{% block content %}
<form action="/auth" method="post" id="codeForm" style="display: flex; flex-direction: column; flex: 1 1 0%;">
    <div style="text-align: center;">
        <p class="mt-1">{{ get_translate('html.code.label_code') }}</p>
        <p class="mt-1">{{ get_translate('html.code.validity_message') }}</p>
    </div>
    <input type="tel" id="code" name="code" maxlength="4" class="login-input" placeholder="{{ get_translate('html.code.placeholder_code') }}" required>

    <div id="error-message" style="flex: 1 1 0%; {{ 'display:none;' if not error else '' }}">{{ error }}</div>

    <button id="sendBtn" type="button" class="button login-button mt-2">{{ get_translate('html.code.submit_button') }}"</button>

    <p class="text-center mt-2 link-line disabled" disabled id="resendMessage">{{ get_translate('html.code.resend_message') }} <span id="timer">60</span> {{ get_translate('html.code.seconds') }}</p>
    <a class="text-center mt-2 link-line" href="/resend" id="resendLink" style="display:none;">{{ get_translate('html.code.resend_link') }}</a>
</form>
<script>
    let allowSubmit = false; // разрешение нашего сабмита

    const form = document.getElementById('codeForm');

    // Блокируем внезапные сабмиты браузера (автоподстановка, Enter и т.д.)
    form.addEventListener('submit', (e) => {
        if (!allowSubmit) {
            e.preventDefault(); // запрет
            return;
        }

        // Сбрасываем флаг, чтобы случайно не сабмитнуть повторно
        allowSubmit = false;
    });

    // Функция ручного сабмита
    function doSubmit() {
        allowSubmit = true;
        form.submit();
    }

    // Автоотправка при вводе 4 цифр
    document.getElementById('code').addEventListener('input', () => {
        if (document.getElementById('code').value.length === 4) {
            doSubmit();
        }
    });

    // Отправка по кастомной кнопке
    document.getElementById('sendBtn').addEventListener('click', () => {
        doSubmit();
    });
</script>
<script>
    // Таймер для повторной отправки кода
    let timer = 60;
    const timerElement = document.getElementById('timer');
    const resendLink = document.getElementById('resendLink');
    const resendMessage = document.getElementById('resendMessage');
    const errorNotify = document.querySelector('.error-message');

    const countdown = () => {
        timer = 60;
        resendMessage.style.display = 'block';
        resendLink.style.display = 'none';
        const interval = setInterval(() => {
            timer--;
            timerElement.textContent = timer;
            if (timer <= 0) {
                resendMessage.style.display = 'none';
                resendLink.style.display = 'block';
                timerElement.textContent = '60';
            }
        }, 1000);
    };

    resendLink.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default link behavior

        fetch('/resend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                countdown(); // Restart the countdown
                errorNotify.style.display = 'none'; // Hide error message if any
            } else {
                errorNotify.textContent = result.error.description;
                errorNotify.style.display = 'block';
            }
        })
        .catch(error => {
            errorNotify.textContent = 'Error: ' + error.message;
            errorNotify.style.display = 'block';
        });
    });

    countdown(); // Start the initial countdown
</script>
{% endblock %}

