{% extends 'auth/base.html' %}

{% block title %}
{{ get_translate('html.code.title') }}
{% endblock %}

{% block content %}
<form action="/auth" method="post" id="codeForm">

    <label for="code">
        {{ get_translate('html.code.label_code') }}<br><br>
        {{ get_translate('html.code.validity_message') }}
    </label>
    <input class="input-auth" type="tel" id="code" name="code" maxlength="4" oninput="checkCodeForm()" placeholder="{{ get_translate('html.code.placeholder_code') }}">

    <div class="error-notify" {{ 'style=display:none;' if not error else '' }}>{{ error }}</div>

    <input class="btn btn-submit" type="submit" value="{{ get_translate('html.code.submit_button') }}">

    <p id="resendMessage">{{ get_translate('html.code.resend_message') }} <span id="timer">60</span> {{ get_translate('html.code.seconds') }}</p>
    <a class="text-center mt-2 link-line" href="/resend" id="resendLink" style="display:none;">{{ get_translate('html.code.resend_link') }}</a>

    <label id="modal_trigger" class="text-center mt-2 link-line" data-modal-target="#privacyPolicyModal">{{ get_translate('html.privacy_policy_label') }}</label>
</form>
<script>
    function checkCodeForm() {
        // Get the value of the code input field
        const codeValue = document.getElementById('code').value;

        // Check if the length of the code is 4
        if (codeValue.length === 4) {
            // If the length is 4, submit the form
            document.getElementById('codeForm').submit();
          } else {
            // If the length is not 4, display an error message or handle it as per your requirement
            console.log('Code must be 4 characters long');
          }
    }

    // Таймер для повторной отправки кода
    let timer = 60;
    const timerElement = document.getElementById('timer');
    const resendLink = document.getElementById('resendLink');
    const resendMessage = document.getElementById('resendMessage');
    const errorNotify = document.querySelector('.error-notify');

    const countdown = () => {
        timer = 60;
        resendMessage.style.display = 'block';
        resendLink.style.display = 'none';
        const interval = setInterval(() => {
            timer--;
            timerElement.textContent = timer;
            if (timer <= 0) {
                resendMessage.style.display = 'none';
                resendLink.style.display = 'block';
                timerElement.textContent = '60';
            }
        }, 1000);
    };

    resendLink.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default link behavior

        fetch('/resend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                countdown(); // Restart the countdown
                errorNotify.style.display = 'none'; // Hide error message if any
            } else {
                errorNotify.textContent = result.error.description;
                errorNotify.style.display = 'block';
            }
        })
        .catch(error => {
            errorNotify.textContent = 'Error: ' + error.message;
            errorNotify.style.display = 'block';
        });
    });

    countdown(); // Start the initial countdown
</script>
{% endblock %}

{% block footer %}
<div id="modal-overlay" class="modal-overlay"></div>

<div id="privacyPolicyModal" class="modal modal-large">
    <div class="modal-header">
        <h2 class="modal-title">{{ get_translate('html.privacy_policy_label') }}</h2>
        <span class="modal-close" data-close-button>{{ get_translate('html.modal.close').lower() }}</span>
    </div>
    <div class="modal-content">
      {% include "auth/privacy_policy.html" %}
    </div>
</div>
{% endblock %}
