{% extends 'auth/base.html' %}

{% block title %}
{{ get_translate('html.login.title') }}
{% endblock %}

{% block content %}
<form action="/code" method="post">

    <label for="phone">{{ get_translate('html.login.label_phone') }}</label>
    <input class="input-auth" type="tel" id="phone" name="phone" data-tel-input placeholder="{{ get_translate('html.login.placeholder_phone') }}">

    <div class="error-notify" {{ 'style=display:none;' if not error else '' }}>{{ error }}</div>

    <input class="btn btn-submit" type="submit" value="{{ get_translate('html.login.submit_button') }}">

    <label id="modal_trigger" class="text-center mt-2 link-line" data-modal-target="#privacyPolicyModal">{{ get_translate('html.privacy_policy_label') }}</label>
</form>
{% endblock %}

{% block footer %}
<div id="modal-overlay" class="modal-overlay"></div>

<div id="privacyPolicyModal" class="modal modal-large">
    <div class="modal-header">
        <h2 class="modal-title">{{ get_translate('html.privacy_policy_label') }}</h2>
        <span class="modal-close" data-close-button>{{ get_translate('html.modal.close').lower() }}</span>
    </div>
    <div class="modal-content">{% include "auth/privacy_policy.html" %}</div>
</div>
{% endblock %}
