venv/
/config/hotspot.db
/mikrotik/
/examples
/logs
/html_examples for template/
build.log
docker-build.sh
.git/
.gitignore
.dockerignore
Dockerfile
**/__pycache__/
.vscode/
.venv/
*.code-workspace
.env