<div id="radius" class="content-tab table-container" style="display: none;">
    <div class="filters-panel">
        <div class="filters-row">
            <input type="text" class="filter-input table-search" placeholder="{{ get_translate('html.admin.panel.tables.search', session.user_lang) }}">
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ get_translate('html.admin.settings.radius.address', session.user_lang) }}</th>
                <th>{{ get_translate('html.admin.settings.radius.name', session.user_lang) }}</th>
                <th>{{ get_translate('html.admin.settings.radius.authport', session.user_lang) }}</th>
                <th>{{ get_translate('html.admin.settings.radius.acctport', session.user_lang) }}</th>
                <th>{{ get_translate('html.admin.settings.radius.coaport', session.user_lang) }}</th>
                <th class="column-controls">{{ get_translate('html.admin.panel.tables.controls', session.user_lang) }}</th>
            </tr>
        </thead>
        <tbody id="radius_body">
            <tr class="add_row_button">
                <td colspan="6"><button class="btn btn-add" onclick="addNewHostModal()">{{ get_translate('html.admin.buttons.add', session.user_lang) }}</button></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
const radiusSearchInput = document.querySelector('#radius .table-search');
const radiusTbody = document.getElementById('radius_body');

radiusSearchInput.addEventListener('input', () => {
    const query = radiusSearchInput.value.trim().toLowerCase();

    const rows = radiusTbody.querySelectorAll('tr');

    rows.forEach(row => {
        // строку "Добавить" не фильтруем
        if (row.classList.contains('add_row_button')) {
            row.style.display = '';
            return;
        }

        // берём только td с данными, без кнопок
        const cells = row.querySelectorAll(
            'td[data-address], td[data-name]'
        );

        const match = [...cells].some(td =>
            td.textContent.toLowerCase().includes(query)
        );

        row.style.display = match ? '' : 'none';
    });
});
</script>