{% extends 'base.html' %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/modals.css') }}">
<script src="{{ url_for('static', filename='javascript/phoneinput.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modals.js') }}"></script>
{% endblock %}
