
{% extends 'hotspot/base.html' %}

{% block title %}
{{ get_translate('html.sendin.title', session.user_lang) }}
{% endblock %}

{% block content %}
<form class="form form-login" action="{{ link_login_only }}" method="post">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="hidden" name="password" value="{{ password }}">
    <input type="hidden" name="dst" value="{{ link_orig }}">
    <input type="hidden" name="popup" value="true">

    <center>{{ get_translate('html.sendin.done', session.user_lang) }}</center>
    <p class="text-center mt-2">{{ get_translate('html.sendin.retry_hint', session.user_lang) }}</p>

    <div class="error-notify" {{ 'style=display:none;' if not error else '' }}>{{ error }}</div>

    <input class="btn btn-wide btn-submit" type="submit" value="{{ get_translate('buttons.continue', session.user_lang) }}">

    <label id="modal_trigger" class="text-center mt-2 link-line" data-modal-target="#privacyPolicyModal">{{ get_translate('html.privacy_policy_label', session.user_lang) }}</label>
</form>
{% endblock %}

{% block footer %}
<script>document.forms[0].submit()</script>

<div id="modal-overlay" class="modal-overlay"></div>

<div id="privacyPolicyModal" class="modal modal-large">
    <div class="modal-header">
        <h2 class="modal-title">{{ get_translate('html.privacy_policy_label', session.user_lang) }}</h2>
        <span class="modal-close" data-close-button>{{ get_translate('html.modal.close', session.user_lang).lower() }}</span>
    </div>
    <div class="modal-content">{% include "hotspot/privacy_policy.html" %}</div>
</div>
{% endblock %}
