.nav-tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav-tabs li {
    flex-grow: 1; /* Позволяет кнопкам занимать равное пространство */
    text-align: center; /* Центрирует текст внутри кнопок */
}

.nav-tabs a {
    display: block;
    padding: 10px 0; /* Убираем боковые отступы, чтобы текст был по центру */
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s;
    border-bottom: 2px solid #ddd;
    /*border-bottom: 2px solid transparent; /* Добавляем прозрачную нижнюю границу */
}

.nav-tabs a:hover {
    color: #333;
}

.nav-tabs a.active {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50; /* Подчеркивание активной кнопки */
    background-color: #f0f0f0; /* Добавляем светло-серый фон */
}