{% extends 'admin/base.html' %}

{% block title %}
{{ get_translate('html.admin.login.title') }}
{% endblock %}

{% block content %}
<form action="/admin/auth" method="post" name="login" id="login" style="display: flex; flex-direction: column; flex: 1 1 0%;">
    <center><p class="mt-1">{{ get_translate('html.admin.login.label') }}</p></center>
    <input type="text" id="username" name="username" class="login-input" placeholder="{{ get_translate('html.admin.login.login_placeholder') }}" required>
    <input type="password" id="password" name="password" class="login-input" placeholder="{{ get_translate('html.admin.login.password_placeholder') }}" required>
    <select class="input-auth" id="language" name="language">
        <option value="auto">Auto</option>
        {% for key, language in config["LANGUAGE_CONTENT"].items() %}
        <option value="{{ key }}">{{ language.get('language') }}</option>
        {% endfor %}
    </select>
    <div id="error-message" style="flex: 1 1 0%; {{ 'display:none;' if not error else '' }}">{{ error }}</div>

    <input type="submit" class="button login-button mt-2" value="{{ get_translate('html.admin.buttons.login') }}">
</form>
{% endblock %}
