{% extends 'admin/base.html' %}

{% block title %}
{{ get_translate('html.admin.login.title') }}
{% endblock %}

{% block content %}
<form action="/admin/auth" method="post">

    <h2>{{ get_translate('html.admin.login.label') }}</h2>
    <div>
        <input class="input-auth" type="text" id="username" name="username" placeholder="{{ get_translate('html.admin.login.login_placeholder') }}" required>
        <input class="input-auth" type="password" id="password" name="password" placeholder="{{ get_translate('html.admin.login.password_placeholder') }}" required>
    </div>

    {% if error %}
    <div class="error-notify">{{ error }}</div>
    {% endif %}

    <input class="btn btn-submit" type="submit" value="{{ get_translate('html.admin.buttons.login') }}">

</form>
{% endblock %}
