{% extends 'base.html' %}

{% block headers %}
<script src="https://cdn.jsdelivr.net/npm/jmespath@0.15.0/jmespath.min.js"></script>
<script src="{{ url_for('static', filename='javascript/localization.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/modals.css') }}">
<script src="{{ url_for('static', filename='javascript/phoneinput.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modals.js') }}"></script>
{% endblock %}

{% block footer %}
<div id="modal-overlay" class="modal-overlay"></div>

<div id="errorModal" class="modal modal-small">
    <div class="modal-header">
        <h2 class="modal-title">Title</h2>
    </div>
    <div class="modal-content">Content</div>
    <div class="modal-footer">
        <button class="btn btn-modal-close" data-close-button>{{ get_translate('html.modal.close', session.user_lang) }}</button>
    </div>
</div>

<div id="addRowModal" class="modal modal-medium">
    <div class="modal-header">
        <h2 class="modal-title"></h2>
        <span class="modal-close" data-close-button>{{ get_translate('html.modal.close', session.user_lang).lower() }}</span>
    </div>
    <div class="modal-content">
    </div>
</div>
{% endblock %}
