{% extends 'admin/base.html' %}

{% block title %}
{{ get_translate('html.admin.panel.title', session.user_lang) }}
{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <a href="{{ url_for('pages.admin.auth.logout') }}" class="btn btn-exit">{{ get_translate('html.admin.buttons.logout', session.user_lang) }}</a>
    <ul class="nav-tabs">
        <li><a href="#wifi_clients">{{ get_translate('html.admin.panel.tables.wifi_clients.title', session.user_lang) }}</a></li>
        <li><a href="#employees">{{ get_translate('html.admin.panel.tables.employees.title', session.user_lang) }}</a></li>
        <li><a href="#blacklist">{{ get_translate('html.admin.panel.tables.blacklist.title', session.user_lang) }}</a></li>
    </ul>
    <div class="table-container">
        <div id="wifi_clients" class="content-tab table-container">
            <div class="filters-panel">
                <div class="filters-row">
                    <input type="text" id="wifi_clients_search" class="filter-input table-search" placeholder="{{ get_translate('html.admin.panel.tables.search', session.user_lang) }}">
                </div>
                
                <div class="filters-row">
                    <label class="filter-label">Date range:</label>
                    <input type="date" id="wifi_clients_daterange_start" class="filter-input">
                    <input type="date" id="wifi_clients_daterange_stop" class="filter-input">
                </div>

                <div class="filters-row">
                    <label class="filter-label">{{ get_translate('html.admin.panel.tables.wifi_clients.online', session.user_lang) }}:</label>
                    <div id="wifi_clients_online" class="tri-toggle" data-target="online">
                        <div class="tri-option" data-value="all">{{ get_translate('html.admin.panel.tables.wifi_clients.all', session.user_lang, 'All') }}</div>
                        <div class="tri-option" data-value="yes">{{ get_translate('html.admin.panel.tables.wifi_clients.yes', session.user_lang) }}</div>
                        <div class="tri-option" data-value="no">{{ get_translate('html.admin.panel.tables.wifi_clients.no', session.user_lang) }}</div>
                        <div class="tri-slider"></div>
                    </div>
                </div>

                <div class="filters-row">
                    <label class="filter-label">{{ get_translate('html.admin.panel.tables.wifi_clients.is_employee', session.user_lang) }}:</label>
                    <div id="wifi_clients_employee" class="tri-toggle" data-target="employee">
                        <div class="tri-option" data-value="all">{{ get_translate('html.admin.panel.tables.wifi_clients.all', session.user_lang, 'All') }}</div>
                        <div class="tri-option" data-value="yes">{{ get_translate('html.admin.panel.tables.wifi_clients.yes', session.user_lang) }}</div>
                        <div class="tri-option" data-value="no">{{ get_translate('html.admin.panel.tables.wifi_clients.no', session.user_lang) }}</div>
                        <div class="tri-slider"></div>
                    </div>
                </div>

                <div class="filters-row">
                    <label class="filter-label">{{ get_translate('html.admin.panel.tables.wifi_clients.last_location', session.user_lang) }}:</label>
                    <select id="wifi_clients_last_location" class="filter-select">
                        <option>None</option>
                        <option>City 1</option>
                        <option>City 2</option>
                        <option>City 3</option>
                    </select>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.mac', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.expire', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.is_employee', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.phone', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.online', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.last_location', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.wifi_clients.last_ipv4_address', session.user_lang) }}</th>
                        <th class="column-controls">{{ get_translate('html.admin.panel.tables.controls', session.user_lang) }}</th>
                    </tr>
                </thead>
                <tbody id="wifi_clients_body">
                    {% for client in wifi_clients %}
                    <tr>
                        <td>{{ client.get('mac') }}</td>
                        <td>{{ client.get('expiration') }}</td>
                        <td>{{ client.get('employee') }}</td>
                        <td>{{ client.get('phone') }}</td>
                        <td>{{ client.get('online') }}</td>
                        <td>{{ client.get('last_location') }}</td>
                        <td>{{ client.get('last_ipv4_address') }}</td>
                        <td class="column-controls">
                            <button class="btn btn-edit btn-controls" onclick="deauthRow(this)">{{ get_translate('html.admin.buttons.deauth', session.user_lang) }}</button>
                            <button class="btn btn-delete btn-controls" onclick="blockRow(this)">{{ get_translate('html.admin.buttons.block', session.user_lang) }}</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <button class="btn btn-prev" onclick="changePage('wifi_clients', -1)">{{ get_translate('html.admin.buttons.prev', session.user_lang) }}</button>
                <div class="page_numbers">
                    <!--button class="btn btn-number" onclick="changePageTo('wifi_clients', X)">X</button-->
                </div>
                <button class="btn btn-next" onclick="changePage('wifi_clients', 1)">{{ get_translate('html.admin.buttons.next', session.user_lang) }}</button>
                <span id="wifi_clients_page_info"></span>
            </div>
        </div>

        <div id="employees" class="content-tab table-container" style="display: none;">
            <input type="text" id="employees_search" class="table-search" placeholder="{{ get_translate('html.admin.panel.tables.search', session.user_lang) }}">

            <table>
                <thead>
                    <tr>
                        <th>{{ get_translate('html.admin.panel.tables.employees.id', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.employees.lastname', session.user_lang) }}</th>
                        <th>{{ get_translate('html.admin.panel.tables.employees.name', session.user_lang) }}</th>
                        <th class="column-phones">{{ get_translate('html.admin.panel.tables.employees.phones', session.user_lang) }}</th>
                        <th class="column-controls">{{ get_translate('html.admin.panel.tables.controls', session.user_lang) }}</th>
                    </tr>
                </thead>
                <tbody id="employees_body">
                    {% for employee in employees %}
                    <tr>
                        <td data-id>{{ employee.get('id') }}</td>
                        <td data-lastname>{{ employee.get('lastname') }}</td>
                        <td data-name>{{ employee.get('name') }}</td>
                        <td data-phones class="column-phones">
                            <ul>
                                {% for phone in employee.get('phones') %}
                                <li>+{{ phone }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="column-controls">
                            <button class="btn btn-edit btn-controls" onclick="editRow(this, 'employees')">{{ get_translate('html.admin.buttons.edit', session.user_lang) }}</button>
                            <button class="btn btn-delete btn-controls" onclick="deleteRow(this, 'employees')">{{ get_translate('html.admin.buttons.delete', session.user_lang) }}</button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="add_row_button">
                        <td colspan="5"><button class="btn btn-add" onclick="addRowModal(this, 'employees')">{{ get_translate('html.admin.buttons.add', session.user_lang) }}</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="btn btn-prev" onclick="changePage('employees', -1)">{{ get_translate('html.admin.buttons.prev', session.user_lang) }}</button>
                <div class="page_numbers">
                    <!--button class="btn btn-number" onclick="changePageTo('employee', X)">X</button-->
                </div>
                <button class="btn btn-next" onclick="changePage('employees', 1)">{{ get_translate('html.admin.buttons.next', session.user_lang) }}</button>
                <span id="employees_page_info"></span>
            </div>
        </div>

        <div id="blacklist" class="content-tab table-container" style="display: none;">
            <input type="text" id="blacklist_search" class="table-search" placeholder="{{ get_translate('html.admin.panel.tables.search', session.user_lang) }}">
            <table>
                <thead>
                    <tr>
                        <th>{{ get_translate('html.admin.panel.tables.blacklist.phone', session.user_lang) }}</th>
                        <th class="column-controls">{{ get_translate('html.admin.panel.tables.controls', session.user_lang) }}</th>
                    </tr>
                </thead>
                <tbody id="blacklist_body">
                    {% for blocked in blacklist %}
                    <tr>
                        <td class="blocked-phone">+{{ blocked }}</td>
                        <td class="column-controls">
                            <button class="btn btn-delete btn-controls" onclick="deleteRow(this, 'blacklist')">{{ get_translate('html.admin.buttons.delete', session.user_lang) }}</button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="add_row_button">
                        <td colspan="2"><button class="btn btn-add" onclick="addRowModal(this, 'blacklist')">{{ get_translate('html.admin.buttons.add', session.user_lang) }}</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="btn btn-prev" onclick="changePage('blacklist', -1)">{{ get_translate('html.admin.buttons.prev', session.user_lang) }}</button>
                <div class="page_numbers">
                    <!--button class="btn btn-number" onclick="changePageTo('blacklist', X)">X</button-->
                </div>
                <button class="btn btn-next" onclick="changePage('blacklist', 1)">{{ get_translate('html.admin.buttons.next', session.user_lang) }}</button>
                <span id="blacklist_page_info"></span>
            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.nav-tabs a');
        const contentTabs = document.querySelectorAll('.content-tab');

        // Hide all content tabs initially
        contentTabs.forEach(content => content.style.display = 'none');

        // Check localStorage for saved tab
        const savedTab = localStorage.getItem('activeTab');
        if (savedTab) {
            document.querySelector(savedTab).style.display = 'block';
            document.querySelector(`.nav-tabs a[href="${savedTab}"]`).classList.add('active');
        } else {
            // Default to first tab if no saved tab
            contentTabs[0].style.display = 'block';
            tabs[0].classList.add('active');
        }

        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();
                const target = this.getAttribute('href');

                // Hide all content tabs
                contentTabs.forEach(content => content.style.display = 'none');
                // Show the selected tab content
                document.querySelector(target).style.display = 'block';

                // Remove active class from all tabs
                tabs.forEach(link => link.classList.remove('active'));
                // Add active class to the clicked tab
                this.classList.add('active');

                // Save the active tab to localStorage
                localStorage.setItem('activeTab', target);
            });
        });
    });
</script>
<script src="{{ url_for('static', filename='javascript/tables.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/filters.js') }}"></script>
{% endblock %}
