{% extends 'base.html' %}

{% block title %}
{{ get_translate('html.admin.panel.title', session.user_lang) }}
{% endblock %}

{% block headers %}
<script src="https://cdn.jsdelivr.net/npm/jmespath@0.15.0/jmespath.min.js"></script>
<script src="{{ url_for('static', filename='javascript/localization.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/phoneinput.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modals.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/filters.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/modals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/filters.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}">
{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <div class="admin-actions">
        <a href="{{ url_for('pages.admin.settings.index') }}"
           class="btn-action btn-go">
            {{ get_translate('buttons.settings', session.user_lang) }}
        </a>

        <a href="{{ url_for('pages.admin.auth.logout') }}"
           class="btn-action btn-logout">
            {{ get_translate('buttons.logout', session.user_lang) }}
        </a>
    </div>

    <ul class="nav-tabs">
        <li><a class="{{ 'active' if request.endpoint == 'pages.admin.panel.wifi_clients' else '' }}" href="{{ url_for('pages.admin.panel.wifi_clients') }}">{{ get_translate('html.admin.panel.tables.wifi_clients.title', session.user_lang) }}</a></li>
        <li><a class="{{ 'active' if request.endpoint == 'pages.admin.panel.employees' else '' }}" href="{{ url_for('pages.admin.panel.employees') }}">{{ get_translate('html.admin.panel.tables.employees.title', session.user_lang) }}</a></li>
        <li><a class="{{ 'active' if request.endpoint == 'pages.admin.panel.blacklist' else '' }}" href="{{ url_for('pages.admin.panel.blacklist') }}">{{ get_translate('html.admin.panel.tables.blacklist.title', session.user_lang) }}</a></li>
    </ul>

    <div class="table-container">
        {% block panel_content %}{% endblock %}
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/tables.js') }}"></script>
{% endblock %}

{% block footer %}
{% include "admin/modals.html" %}
{% endblock %}
