{% extends 'base.html' %}

{% block title %}
{{ get_translate('html.admin.panel.title', session.user_lang) }}
{% endblock %}

{% block headers %}
<script src="https://cdn.jsdelivr.net/npm/jmespath@0.15.0/jmespath.min.js"></script>
<script src="{{ url_for('static', filename='javascript/localization.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modals.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/settings.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/filters.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/modals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/filters.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/settings.css') }}">
{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <div class="admin-actions">
        <a href="{{ url_for('pages.admin.panel') }}"
           class="btn-action btn-go">
            {{ get_translate('buttons.panel', session.user_lang) }}
        </a>

        <a href="{{ url_for('pages.admin.auth.logout') }}"
           class="btn-action btn-logout">
            {{ get_translate('buttons.logout', session.user_lang) }}
        </a>
    </div>
    <ul class="nav-tabs">
        <li><a id="hotspot" class="{{ 'active' if request.endpoint == 'pages.admin.settings.hotspot.index' else '' }}" href="{{ url_for('pages.admin.settings.hotspot.index') }}">{{ get_translate('html.admin.settings.hotspot.title', session.user_lang) }}</a></li>
        <li><a id="radius" class="{{ 'active' if request.endpoint == 'pages.admin.settings.radius.index' else '' }}" href="{{ url_for('pages.admin.settings.radius.index') }}">{{ get_translate('html.admin.settings.radius.title', session.user_lang) }}</a></li>
        <li><a id="verificators" class="{{ 'active' if request.endpoint == 'pages.admin.settings.verificators.index' else '' }}" href="{{ url_for('pages.admin.settings.verificators.index') }}">{{ get_translate('html.admin.settings.verificators.title', session.user_lang) }}</a></li>
        <li><a id="users" class="{{ 'active' if request.endpoint == 'pages.admin.settings.users.index' else '' }}" href="{{ url_for('pages.admin.settings.users.index') }}">{{ get_translate('html.admin.settings.users.title', session.user_lang) }}</a></li>
    </ul>
    <div class="table-container">
        {% block settings_content %}{% endblock %}
    </div>

</div>
{% endblock %}

{% block footer %}
{% include "admin/modals.html" %}
{% endblock %}
