{% extends 'base.html' %}

{% block title %}
{{ get_translate('html.admin.panel.title', session.user_lang) }}
{% endblock %}

{% block headers %}
<script src="https://cdn.jsdelivr.net/npm/jmespath@0.15.0/jmespath.min.js"></script>
<script src="{{ url_for('static', filename='javascript/localization.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modals.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/modals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/filters.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/settings.css') }}">
{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <div class="admin-actions">
        <a href="{{ url_for('pages.admin.panel') }}"
           class="btn-action btn-go">
            {{ get_translate('buttons.panel', session.user_lang) }}
        </a>

        <a href="{{ url_for('pages.admin.auth.logout') }}"
           class="btn-action btn-logout">
            {{ get_translate('buttons.logout', session.user_lang) }}
        </a>
    </div>
    <ul class="nav-tabs">
        <li><a id="hotspot" href="{{ url_for('pages.admin.settings.hotspot.index') }}">{{ get_translate('html.admin.settings.hotspot.title', session.user_lang) }}</a></li>
        <li><a id="radius" href="{{ url_for('pages.admin.settings.radius.index') }}">{{ get_translate('html.admin.settings.radius.title', session.user_lang) }}</a></li>
        <li><a id="sender" href="{{ url_for('pages.admin.settings.sender.index') }}">{{ get_translate('html.admin.settings.sender.title', session.user_lang) }}</a></li>
        <li><a id="web" href="#web">{{ get_translate('html.admin.settings.web.title', session.user_lang) }}</a></li>
    </ul>
    <div class="table-container">
        {% block settings_content %}{% endblock %}
    </div>

</div>
<script src="{{ url_for('static', filename='javascript/settings.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/filters.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.nav-tabs a');
        const contentTabs = document.querySelectorAll('.content-tab');

        // Check localStorage for saved tab
        const savedTab = localStorage.getItem('activeSettingsTab');
        if (savedTab) {
            const tab = document.getElementById(savedTab);
            tab.classList.add('active');
        } else {
            // Default to first tab if no saved tab
            contentTabs[0].style.display = 'block';
            tabs[0].classList.add('active');
        }

        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                const target = this.getAttribute('id');

                // Hide all content tabs
                contentTabs.forEach(content => content.style.display = 'none');
                // Show the selected tab content
                document.getElementById(target).style.display = 'block';

                // Remove active class from all tabs
                tabs.forEach(link => link.classList.remove('active'));
                // Add active class to the clicked tab
                this.classList.add('active');

                // Save the active tab to localStorage
                localStorage.setItem('activeSettingsTab', target);
            });
        });
    });
</script>
{% endblock %}

{% block footer %}
{% include "admin/modals.html" %}
{% endblock %}