{% extends 'admin/base.html' %}

{% block title %}
{{ get_translate('html.admin.panel.title', session.user_lang) }}
{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <div class="admin-actions">
        <a href="{{ url_for('pages.admin.panel') }}"
           class="btn-action btn-settings">
            {{ get_translate('html.admin.buttons.panel', session.user_lang, 'Panel') }}
        </a>

        <a href="{{ url_for('pages.admin.auth.logout') }}"
           class="btn-action btn-logout">
            {{ get_translate('html.admin.buttons.logout', session.user_lang) }}
        </a>
    </div>
    <ul class="nav-tabs">
        <li><a href="#hotspot">{{ get_translate('html.admin.settings.hotspot.title', session.user_lang) }}</a></li>
        <li><a href="#radius">{{ get_translate('html.admin.settings.radius.title', session.user_lang) }}</a></li>
        <li><a href="#sender">{{ get_translate('html.admin.settings.sender.title', session.user_lang) }}</a></li>
        <li><a href="#web">{{ get_translate('html.admin.settings.web.title', session.user_lang) }}</a></li>
    </ul>
    <div class="table-container">
        {% include "admin/settings/hotspot.html" %}
        {% include "admin/settings/radius.html" %}
        {% include "admin/settings/sender.html" %}
        {% include "admin/settings/web.html" %}
    </div>

</div>
<script src="{{ url_for('static', filename='javascript/settings.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.nav-tabs a');
        const contentTabs = document.querySelectorAll('.content-tab');

        // Hide all content tabs initially
        contentTabs.forEach(content => content.style.display = 'none');

        // Check localStorage for saved tab
        const savedTab = localStorage.getItem('activeSettingsTab');
        if (savedTab) {
            document.querySelector(savedTab).style.display = 'block';
            document.querySelector(`.nav-tabs a[href="${savedTab}"]`).classList.add('active');
            loadSettingsData(savedTab.slice(1));
        } else {
            // Default to first tab if no saved tab
            contentTabs[0].style.display = 'block';
            tabs[0].classList.add('active');
            loadSettingsData('hotspot');
        }

        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();
                const target = this.getAttribute('href');
                loadSettingsData(target.slice(1));

                // Hide all content tabs
                contentTabs.forEach(content => content.style.display = 'none');
                // Show the selected tab content
                document.querySelector(target).style.display = 'block';

                // Remove active class from all tabs
                tabs.forEach(link => link.classList.remove('active'));
                // Add active class to the clicked tab
                this.classList.add('active');

                // Save the active tab to localStorage
                localStorage.setItem('activeSettingsTab', target);
            });
        });
    });
</script>
{% endblock %}
