.table-container table {
    border-collapse: collapse;
    margin: 25px auto; /* Центрируем таблицу */
    font-size: 18px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table-container th {
    background-color: #f4f4f4;
    color: #333;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.table-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.table-container ul li {
    display: flex;
    align-items: center;
}

.table-container ul li .table-input {
    flex-grow: 1;
    margin-right: 5px; /* Отступ между полем ввода и кнопкой */
}

.table-container ul li .btn-delete {
    flex-shrink: 0;
}

.column-controls {
    width: auto;
    white-space: nowrap;
}

.column-phones {
    width: 200px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Позволяет перенос элементов на новую строку */
}

.page_numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination span {
    width: 100%; /* Занимает всю ширину строки */
    text-align: center; /* Центрирует текст внутри span */
    margin-top: 10px; /* Отступ сверху для разделения с кнопками */
}

.pagination .btn {
    width: auto;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    border-radius: 4px;
}

.pagination .btn-number {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
}

.pagination .btn-number.active {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.table-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
