<!DOCTYPE html>
<html lang="{{ session.user_lang or config.get('LANGUAGE_DEFAULT', 'en') }}" class="p-0 m-0 h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='sova/images/favicon.svg') }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='sova/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sova/style.css') }}">
    {% block headers %}{% endblock %}
</head>
<body class="p-0 m-0 h-100">
    <div id="app" class="p-0 m-0 h-100">
    <main class="p-0 m-0 h-100">
        <div id="layout">
            {% block layout %}
            {% endblock %}
        </div>
    </main>
    </div>
    {% block footer %}
    {% endblock %}
</body>
</html>