<!DOCTYPE html>
<html lang="ru" class="p-0 m-0 h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='style/images/favicon.svg') }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/modal.css') }}">
    <script src="{{ url_for('static', filename='javascript/phoneinput.js') }}"></script>
</head>
<body class="p-0 m-0 h-100">
    <div id="app" class="p-0 m-0 h-100">
    <main class="p-0 m-0 h-100">
        <div id="layout" class="h-100">
            <div class="row justify-content-center" style="margin: 0px !important;">
                <div id="login-form" class="col-xs-auto align-self-center">
                    <div class="card p-4 shadow" style="border-radius: 7px;">
                        <div class="justify-content-between" style="display: flex;"><div><img src="{{ url_for('static', filename='style/images/logo_hotspot_01.svg') }}"></div> <!----></div>
                        {% block content %}
                        {% endblock %}
                        <label id="modal_trigger" class="text-center mt-2 link-line">{{ config['LANGUAGE_CONTENT']['html']['privacy_policy_label'] }}</label>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
    <!-- Modal content -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            {% include "privacy_policy.html" %}
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("modal_trigger");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
