{% extends 'base.html' %}

{% block title %}
{{ config['LANGUAGE_CONTENT']['html']['code']['title'] }} Hotspot | АН СОВА
{% endblock %}

{% block content %}
<form action="/auth" method="post" id="codeForm" style="display: flex; flex-direction: column; flex: 1 1 0%;">
    <center><p class="mt-1">{{ config['LANGUAGE_CONTENT']['html']['code']['label_code'] }}</p></center>
    <input type="tel" id="code" name="code" maxlength="4" class="login-input" oninput="checkCodeForm()" placeholder="{{ config['LANGUAGE_CONTENT']['html']['code']['placeholder_code'] }}">

    {% if error %}
    <div id="error-message" style="flex: 1 1 0%;">{{ error }}</div>
    {% endif %}

    <input type="submit" class="button login-button mt-2" value="{{ config['LANGUAGE_CONTENT']['html']['code']['submit_button'] }}">
</form>
<script>
    function checkCodeForm() {
        // Get the value of the code input field
        const codeValue = document.getElementById('code').value;

        // Check if the length of the code is 4
        if (codeValue.length === 4) {
            // If the length is 4, submit the form
            document.getElementById('codeForm').submit();
          } else {
            // If the length is not 4, display an error message or handle it as per your requirement
            console.log('Code must be 4 characters long');
          }
    }
</script>
{% endblock %}
