{% extends 'base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
<form action="/code" method="post">

    <label for="phone">Ведите номер телефона для авторизации:</label>
    <input type="tel" id="phone" name="phone" class="masked-number" placeholder="Номер телефона">

    {% if error %}
    <div class="error-message">{{ error['message'] }}</div>
    {% endif %}

    <input type="submit" value="Отправить СМС с кодом">

    <label id="modal_trigger" class="text-center mt-2 link-line" for="modal-trigger">Политика конфиденциальности</label>
</form>
{% endblock %}
